*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

/* start center  */
.center{
    background-color: green;
    height: 100vh;
    width: 70vw;
    position: absolute;
    display: flex;
    justify-content: center;

}
.road{
    background-color: rgba(46, 43, 43, 0.89);
    position: absolute;
    height: 100%;
    width: 30vh;
    overflow: hidden;
   
}
.mainroli1{
    position: absolute;
    height: 100%;
    width: 2%;
    left: 32%;
}
.mainroli2{
    position: absolute;
    height: 100%;
    width: 2%;
    left: 66%;
}
.mainroli11{
    position: absolute;
    height: 100%;
    width: 2%;
    left: 32%;
    top: -100%;
}
.mainroli22{
    position: absolute;
    height: 100%;
    width: 2%;
    left: 66%;
    top: -100%;
}
.roli{
    background-color: white;
    position: absolute;
    height: 3%;
    width: 100%;
    left: 0%;
}
.roli2{
    background-color: white;
    position: absolute;
    height: 3%;
    width: 100%;
    left: 0%;
}
.road1{
    position: absolute;
    width: 32%;
    height: 100%;
}
.road2{
    position: absolute;
    width: 32%;
    height: 100%;
    left: 34%;
}
.road3{
    position: absolute;
    width: 32%;
    height: 100%;
    left: 68%;
}
.mydiv{
    background-color: blueviolet;
    position: absolute;
    width: 20%;
    height: 8%;
    top: 80%;
    left: 40%;
    transition-duration: .1s;
}
.otdiv{
    background-color: rgb(226, 43, 217);
    top: -50%;
    position: absolute;
    width: 20%;
    height: 8%;
}
.start{
    background-color: rgb(67, 132, 192);
    position: absolute;
    top: 35%;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.restart{
    background-color: rgb(224, 49, 116);
    color: blanchedalmond;
    position: absolute;
    top: 35%;
    width: 60%;
    height: 30%;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* end center  */

/* start score  */
.score{
    background-color: aqua;
    position: absolute;
    width: 30vw;
    height: 100vh;
    right: 0;
}
.cuscore{
    background-color: rgb(161, 218, 69);
    position: absolute;
    height: 40%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hiscore{
    background-color: rgb(219, 145, 226);
    position: absolute;
    height: 40%;
    width: 100%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.clear{
    background-color: rgb(241, 160, 123);
    position: absolute;
    height: 20%;
    width: 100%;
    top: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* end score  */

/* mobile reaponsive  */
@media only screen and (max-width:500px){
    .center{
        height: 90vh;
        width: 100vw;
        top: 10vh;
    }
    .score{
        width: 100vw;
    height: 10vh;
    left: 0;
    }
    .cuscore{
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .hiscore{
        width: 40%;
        height: 100%;
        left: 40%;
        top: 0;
    }
    .clear{
        width: 20%;
        height: 100%;
        left: 80%;
        top: 0;
    }
}
